.howto{
    padding:5%;
}
.howto h3{
    font-family: 'Raleway';
    font-weight: bold;
    text-align: center;
}
.howto strong{
    font-weight: bold;
}
.howto p{
    font-family: "Raleway";
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.howto img{
    width: 300px;
    height: 100%;
}
.howto tr:nth-child(2n){
    background-color: rgb(240, 240, 240);
}
.howto td:first-child{
    padding:1rem;
    width: 10%;
}
.howto td:last-child{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.howto td:first-child{
}