.howto{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.howto h4{
    font-family: 'Raleway';
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    margin: 0;

}
.howto .title-container{
}
.howto table{
    width: 70%;
}
.howto strong{
    font-weight: bold;
}
.howto p{
    font-family: "Raleway";
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.howto img{
    width: 300px;
    height: 100%;
}
.howto tr:nth-child(2n-1){
    background-color: rgb(240, 240, 240);
}
.howto td:first-child{
    background-color: rgba(247, 247, 247, 0.554);
    padding:1rem;
    width: 10%;
}
.howto td:nth-child(2){
    padding:1rem;
    width: 30%;
}
.howto td:last-child{
    overflow: hidden;
    flex-direction: column;
    width:20%
}
.howto td{
    padding:0;
}
.howto td:last-child  img:hover{
    
    transition: transform 500ms;
    cursor:zoom-in;
    transform: scale(1.1);
}
.cid-16{
    width: vw;
}
.center{
    cursor:alias;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.8);
}
.center img{
    cursor:alias !important;
    height: auto;
    width: 50vw;
}
.center img:hover{
    transform: scale(1) !important; 
}
#closeLogo{
    filter: brightness(100);
    position: relative;
    top:-47vh;
    right: -23vw;
    width: 25px;
}
#closeLogo:hover{
    filter: brightness(0);
}
