.howto{
    padding: 0rem 5rem 1rem 5rem;
}
.howto h4{
    font-family: 'Raleway';
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    margin: 0;

}
.howto .title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    border: 1px solid rgb(0, 0, 0);
    border-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.howto table{
    width: 90%;
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}
.howto strong{
    font-weight: bold;
}
.howto p{
    font-family: "Raleway";
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.howto img{
    width: 300px;
    height: 100%;
}
.howto tr:nth-child(2n-1){
    background-color: rgb(240, 240, 240);
}
.howto td:first-child{
    background-color: rgba(247, 247, 247, 0.554);
    padding:1rem;
    width: 10%;
}
.howto td:nth-child(2){
    padding:1rem;
}
.howto td:last-child{
    overflow: hidden;
    flex-direction: column;
    width:300px;
}
.howto td{
    padding:0;
}
.howto td:last-child  img:hover{
    
    transition: transform 500ms;
    cursor:zoom-in;
    transform: scale(1.1);
}
@media(max-width: 430px){
    .howto td p{
        font-size: .7rem;
        line-height: 0.95rem;
    }
}
@media(max-width:530px){
}
.cid-16{
    width: vw;
}
.center{
    cursor:alias;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.8);
}
.center img{
    cursor:alias !important;
    height: auto;
    width: 50vw;
}
.center img:hover{
    transform: scale(1) !important; 
}
#closeLogo{
    filter: brightness(100);
    position: relative;
    top:-47vh;
    right: -23vw;
    width: 25px;
}
#closeLogo:hover{
    filter: brightness(0);
}
