.cid-1{
    margin-bottom: 90px;
}
.cid-1 .dropbtn{
    background-color: #5492d0;
    color: #fff;
    padding: 0.5rem;
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    border: none;
    border-radius: 32px;
    width: 85px;
    margin-top: 0.2rem;
}
.cid-1 .dropbtn:hover{
    background-color: #3d6d9d;
}
.testimonial{
    justify-content: center;
    display: flex;
    margin-bottom: 2rem;
}
.testimonial .title-container::before, .title-container::after{
    content: " ";
    flex: 1;
    height: 7px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.testimonial p{
    line-height: 1.5em;
    font-size: 13px;
    font-family: 'raleway';
}
.testimonial .colored{
    color: rgb(104, 131, 254);
}
.testimonial .test-container{
    border-radius: 10px;
    padding:12px;
    width: 300px;
    height: 150px;
    box-shadow: 1px 1px 5px rgb(0,0,0,0.7);
}
.comparison{
    height: 100vh;
}
.comparison .button {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 200px;
    height: 39px;
    background: #333E48;
    border-radius: 20px;
    
  }
  
  .comparison .button-element {
    width: 100px;
    height: 39px;
    background: rgb(47, 98, 146);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.14);
    border-radius: 20px 0px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: all 0.3s;
  }
  
  #option1 {
    padding-top: 15px;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.2px;
    color: white;
  }
  
  #option2 {
    padding-top: 15px;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.2px;
    color: #ffffff;
    padding-left: 26px;
  }
    .comparison .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .comparison .info-container{
  }
  .comparison .info-text-wrapper{
      width:10rem;
      outline:auto
  }
  .comparison h3{
      padding-top: 10px;
      padding-bottom: 10px;
      font-family: 'Raleway';
      text-align: center;
  }
  .comparison .box p{
    line-height: 1.5rem;
    font-family: 'Raleway';
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    font-weight: 450px;
    font-size: 13px;
  }
  .comparison .info-1{
    background-color: #333E48;
    z-index: 9;
    position: relative;
  }
  .comparison .info-2{
    top: 260px;
    background-color: #2F6292;
    border-radius: 30px;
    padding-top: 70px;
    height: 200px !important;
    position: absolute;
    z-index: 8;
}

.comparison .info-3{
    position: absolute;
    padding-top: 70px;
    background-color: #4288C8;
    top: 410px;
    height: 270px !important;
}
.comparison .box{
    margin-top: 2rem;
    left:25%;
    color: white;
    width: 380px;
    height: 240px;
    border-radius: 30px;
    position: absolute;
}
.comparison #info-p-m{
    margin-top: 2rem;
    font-family: 'Open Sans';
    font-weight: 350;
    line-height: 2rem;
    width: 300px;
    position: absolute;
    left: 50%;
}
.comparison .apply-btn{
    margin-left: 135px;
    width: 100px;
    border-radius: 20px;
    padding: 10px;
    color: white;
    border-width: 1px;
    border-color: white;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 10px !important;
}
.comparison .apply-btn:hover{
    color: black;
    background-color: white;
}
.positions{
    font-family: 'Raleway';
    
}
.positions strong{
    font-weight: bold;
}
.positions .comp-container .box{
    justify-content: space-evenly;
    padding: 1rem;
    display: flex;
}

.positions .box .info{
    display: none;
}
.positions .button-wrapper button{
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    border-width: 1.5px;
    padding: 5px 15px 5px;
}
.positions .button-wrapper button:hover{
    transition: .2s;
    background-color: black;
    color: white;
}
.positions .box div{
    width: 200px;
}
.title-wrapper h4{
    color: #2F6292;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-wrapper h4::before, .title-wrapper h4::after{
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}
#qm1{

}
#qm2{
    position: absolute;
    top:85%;
}