
body p{
  font-size: 1rem;
  font-family: 'Raleway';

}
.cid-1{
    margin-bottom: 90px;
}
.cid-1 .dropbtn{
    background-color: #5492d0;
    color: #fff;
    padding: 0.5rem;
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    border: none;
    border-radius: 32px;
    width: 85px;
    margin-top: 0rem;
}
.cid-1 .dropbtn:hover{
    background-color: #3d6d9d;
}
.header{
    height: 35vh;
    position: relative;
    overflow: hidden;
    margin-bottom: 0rem;
}
.header .title-wrapper{
    color: white;
    width: 100%;
    height: 30vh;
    font-family: 'Raleway';
    position: absolute;
    background-color: #1f1f1f;
}
.header .title-wrapper strong{
  font-weight:600;
  font-size: 3vw;
}
.header .apply-btn{
    background-color: white;
    color: #000000;
    width: 120px;
    height: 40px;
    border-radius: 2rem;
}
.header .learn-btn{
    background-color: rgb(0,0,0,0);
    color: white;
}
.header .learn-btn:hover{
    background-color: rgba(0,0,0) !important;
    color: #333E48 !important;
}
.header .apply-btn:hover{
    background-color: rgb(255, 255, 255, 0.7);
}
.header .title-container{
  padding: 3rem;
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 35%;
  height: 100%;
  position: relative;
  gap: 1rem;
}
.header .img-container{ 
    filter:brightness(80%);
    max-width: 100%;
    height: 100%;
    clip-path: polygon(54% 0, 100% 0, 100% 100%, 31% 100%);
    top:-18%;
    position: relative;
    z-index: 10;
    top: -100%;
}
.header img{
  bottom: 50%;
  width: 80%;
  position: relative;
  left: 30%;
}
.header .button-container{
  display: flex;
  width: auto;
  justify-content: space-evenly;
  gap: 10px;
}
.header .text-wrapper{
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.header .text-wrapper p{
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight:600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
@media(max-aspect-ratio: 21/25){
  .header{
    height: 45vh;
  }
  .header .title-wrapper{
    height: 40vh;
    display: flex;
    flex-direction: column;

  }
  .header .title-wrapper strong{
    font-size: 8vw;
  }
@media (max-aspect-ratio: 375/667) {
    .header{
        height:75vh;
      }
    .header .title-wrapper
    {
        height: 70vh;
    }
}
  .header img{
    bottom:0;
    left:0;
    width: 100%
  }
  .header .img-container{
    display: flex;
    align-items: flex-end;
    height: 50%;
    width: 100%;
    top:auto;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .title-container{
    padding: 1.5rem;
    align-content: space-around;
    width: 100%;
    height: 50%;
  }
}
.testimonial{
}
.testimonial .title-wrapper{
  margin-bottom: 1.5rem;
}
.testimonial .main-container{
  padding-left: 2rem;
  padding-right: 2rem;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.testimonial .quote-container{
  display: flex;
  width: 403px;
  justify-content: flex-end;
  bottom: 0;
}
.testimonial .title-container::before,.testimonial .title-container::after{
    content: " ";
    flex: 1;
    height: 7px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.testimonial p{
  line-height: 1.6rem;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 450;
  text-align: left;
  width: auto;
}
.testimonial .colored{
  color: rgb(69, 114, 185);
}
.testimonial .test-container{
  background-color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 20px;
  padding:2rem;
  width: 450px;
  height: 220px;
  box-shadow: 0px 17px 29px rgb(0 0 0 / 10%);
}
.testimonial .owl-item{
  background:transparent;  
  display: flex;
  justify-content: center;
}
.testimonial .owl-carousel .owl-stage{
  height:255px;
  display: flex !important;
}
#intern-title strong{
  font-size: 1.1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
}
.comparison{
  height: auto;
  transition: height 700ms;
}

.comparison .button {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 200px;
  height: 39px;
  background: #333E48;
  border-radius: 20px;
}
.comparison .button-element {
  width: 100px;
  height: 39px;
  background: rgb(47, 98, 146);
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.14);
  border-radius: 20px 0px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center; 
  transition: all 0.3s;
}
#option1 {
  padding-top: 15px;
  font-family: 'Raleway';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.2px;
  color: white;
}

#option2 {
  padding-top: 15px;
  font-family: 'Raleway';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding-left: 15px;
}
  .comparison .main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comparison .info-container{
  padding: 0rem 16rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}
.comparison .info-container > div{
  margin: 2rem;
}
.comparison .box-container{
  flex-basis: 380px;
  flex-grow: 0;
  flex-shrink: 0;
  transition: height 700ms;
  height: 530px;
}
.comparison .text-wrapper{
  height: auto
}
.comparison h3{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Raleway';
    text-align: center;
}
.comparison .box{
  color: white;
  width: 380px;
  height: 255px;
  border-radius: 30px;
  flex: 1;
}
.comparison .box p{
  line-height: 2.5rem;
  margin: 0 auto;
  font-weight: 600;
  width: 20em;
}
.comparison .box h3{
  padding-top: 1.5rem;
}
.comparison .info-1{
  background-color: #333E48;
  z-index: 3;
  position: relative;
  cursor: pointer;
}
.comparison .info-1:not(:focus):hover{
  transition: height 500ms;
  height: 258px;
  background-color: #2b333b;
}
.comparison .info-1:focus{
  height: 240px;
  background-color: #2b333b;
}
.comparison .info-2{
  top: 140px;
  background-color: #2F6292;
  border-radius: 30px;
  padding-top: 70px;
  height: 200px !important;
  transition: top 400ms;
  position: relative;
  top: -30%;
  z-index: 2;
}
.comparison .info-3{
  padding-top: 70px;
  background-color: #4288C8;
  top: -61%;
  height: 200px !important;
  transition: top 400ms;
  position: relative;
  z-index: 1;
}
.comparison .info-4{
  display: flex;
  justify-content: center;
  background-color: #4BA4F4;
  height: 150px;
  top: -82%;
  position: relative;
}
.comparison .info-4 .apply-btn{
  border-width: 2px;
  border-radius: 30px;
  margin-top: 54%;
  width: 150px;
  height: 50px;
}
.comparison #info-p-m{
  font-family: 'Raleway';
  font-weight: 350;
  line-height: 2rem;
  width: 300px;
}
.comparison .title-wrapper{
  margin-bottom: 2rem;
}
@media(max-width: 1320px) {
  .comparison .info-container{
    padding: 0 8rem;
  }  
}
@media(max-width: 1065px){
  .comparison .info-container{
    padding: 0 4rem;
  } 
}
@media(max-width: 530px){
  .comparison .info-container{
    padding: 0;
  }
} 

.apply-btn{
  width: 100px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  background-color: transparent;
}
.comparison .apply-btn{
    width: 100px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    border-width: 1px;
    border-color: white !important;
    background-color: rgba(0, 0, 0, 0);
  }
.comparison .apply-btn:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
section, .container, .container-fluid {
  position: relative;
  word-wrap: break-word;
}
.positions{
  margin-bottom: 2rem;
  height: auto;
  font-family: 'Raleway';
    scroll-margin-top: 120px;
}
.positions .PLACEHOLDER{
  display: none;
}
.positions strong{
    font-weight: bold;
}
.positions .apply-btn{
    left: 0;
    background-color: #4288C8;
    color: white;
    width: 120px;
    height: 40px;
    margin-left: 0 !important;
}
.positions .apply-btn:hover{
    background-color: #4288C8;
    color: black;
}
.positions .box .info{
  padding: 0 3rem 3rem 3rem;
    width: 100%;
}
.positions .box h6{
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
.positions .box{
    height: 75px;
    margin-left:10%;
}
.positions .box .head p:last-child{
  display: none;
}
.full{
    height: 100% !important;
}
.positions .howto{
  width: 60px;
  background-color:#3d6d9d;
  position:absolute;
  right: 0;
  top:54%;
  z-index: 9;
  height: 5rem;
  justify-content: center;
  display: flex;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.positions .howto a{
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  width: 60px;
  color: white;
}
.positions .howto h5{
  display:none;
}
.positions .apply-btn:hover ~ .howto{
  width: 200px;
}
.positions .howto a:hover{
  width: 200px;
}
@media(max-width:1024px){
  .positions .howto{
    height:50px;
  }
}
@media(max-width: 1210px){
  .positions .howto{
  }
}
.positions .howto img{
  filter: invert(100);
}
.positions .box .head{
  justify-content: space-evenly;
  align-items: center;
  padding:.5 rem;
  display: flex;
  width: 90%;
  height: 100%;
  padding-bottom: 0 !important;
  border-color: rgb(0,0,0,0.2);
  border-width: 1px;
  border-top-style: solid;

}
.positions .remote-wrapper {
  width: 100%;
}
.positions .remote-wrapper p{
  color: #2F6292;
  text-align: center;
  margin-bottom: 0;
}
.positions .box .head::after{
    content:"";
    background: #ccc;
    position: absolute;
    bottom: 25%;
    left: 0;
    height: 50%;
    width: 1px;
}
.positions .button-wrapper button{
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    border-width: 1.5px;
}
.positions .button-wrapper button:hover{
    transition: .2s;
    background-color: black;
    color: white;
}
.positions .box .title-wrapper{
  height: 15px;
}
.positions .box .category-wrapper{
  width: 100px;
  height:15px
}
.positions .box .title-wrapper{
  width:200px;
}
.positions h4{
  margin-bottom: 1rem;
}
.positions h5{
  text-align: center;
  margin: 2rem 0rem;
}
.positions .unavailable button{
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  border-width: 1.5px;
}
.positions .separation-wrapper{
  height: 4.4em;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  width: 180px;
  border-radius: 10px;
  color:#4288C8;
}
.positions .center{
  justify-content: center;
  display: flex;
}
.positions .location-wrapper{
  display: none;
}
@media (max-width: 700px){
  .positions .box{
    height: 90px
  }
}
@media(max-width:700px){
  .positions .location-wrapper{
    display: none;
  }
}
@media(max-width:640px){
  .positions .category-wrapper{
    display: none;
  }
}
@media(max-width:375px){
  .positions .head:nth-child(2){
    display: none;
  }
}

.footer{
  position: absolute;
  bottom: 0;
}
.cid-16 .text-center a{
  padding:12px;
  border-radius: 16px;
  font-weight: bold;
  transition:background-color 500ms
}
.cid-16 .text-center a:hover{
  background-color: green;
  
}
h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-4, .display-5, .display-7, span, p, a {
  line-height: 1;
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 300;
}
.media-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: start;
}
.title-wrapper h4{
  margin-left: 10%;
    color: #2F6292;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20px;
    font-weight: bold;
}

.title-wrapper h4::before, .title-wrapper h4::after{
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 20px;
    flex: 1 0 20px;
}
.qm1{
  display: none;
  margin-bottom: 5px;
}
.qm2{
  display:none;
}
@keyframes moveDown {
    0% /* (from) */ {
      top: -35%;
    }
    100% /* (to) */ {
      top: -10%;
    }
  }
  @keyframes moveDown2 {
    0% /* (from) */ {
      top: -60%;
    }
    100% /* (to) */ {
      top: -20%;
    }
}
@keyframes moveDown3 {
  0% /* (from) */ {
    top: -80%;
  }
  100% /* (to) */ {
    top: -30%;
  }
}
@keyframes fullHeight {
    0% /* (from) */ {
      height: 75px;
    }
    100% /* (to) */ {
      height: 100%;
    }
}
  .ease1{
    animation: moveDown 700ms ease-in 0s forwards;
  }
  .ease2{
    animation: moveDown2 700ms ease-in 0s forwards;

  }
  .ease3{
    transition: height 1s;
    animation: fullHeight 700ms ease-in 0s forwards;
  }
  .ease4{
    animation: moveDown3 700ms ease-in 0s forwards;
  }
  .icn-right{
    width: 30px;
    height: 58px;
    filter: opacity(60%);
  }
  .icn-right:hover{
    transition: .4s;
    filter: opacity(90%);
  }
  #comp-btn{
    color: white;
    border-color: #ffffff;
  }
  @media (max-width:766px){
    #logo-small{
      margin-left: 50px !important;
    }
  }
  @media (max-width:417px){
    #logo-small{
      margin-left: 50px;
    }
  }
  @media(max-width:426px){
    .media-container-row{
      flex-wrap: wrap;
      width: 100%
    }
    #logo-small{
      margin-left: 40%   !important;
    }
    .footer2 .font-footer{
      padding-left: 0px !important
    }
  }
  @media(max-width:321px){
    
    #logo-small{
      margin-left: 110px !important;
    }
    .footer2 .font-footer{
      padding-left: 0px !important
    }
  }